@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat' sans-serif;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

.portofolio {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: whitesmoke;
    color: black;
    overflow-x: hidden;
}

.portofolio #box1 {
    height: 15vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    text-align: justify;
}

.portofolio #box1 #portf {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 18px;
    letter-spacing: 3px;
    color: black;
}

.portofolio #box1 #work {
    color: black;
    font-weight: bolder;
    font-size: 25px;
    text-transform: uppercase;
}

.portofolio #box1 #para {
    text-align: center;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}

@media(max-width:1025px) {
    .portofolio {
        height: 80vh;
    }

    .portofolio #box1 {
        height: 20vh;
        width: 100%;
    }

    .portofolio #box1 #portf {
        font-weight: bolder;
        font-size: 20px;
    }

    .portofolio #box1 #work {
        font-size: 24px;
    }

    .portofolio #box1 #para {
        padding: 10px 15px;
        font-size: 16px;
    }
}

@media(max-width:769px) {
    .portofolio {
        height: 170vh;
        display: block;
    }

    .portofolio #box1 {
        height: 20vh;
        width: 100%;
    }

    .portofolio #box1 #portf {
        font-weight: bolder;
        font-size: 20px;
    }

    .portofolio #box1 #work {
        font-size: 22px;
    }

    .portofolio #box1 #para {
        font-size: 14px;
    }
}

@media(max-width:430px) {
    .portofolio #box1 {
        height: 20vh;
        width: 100%;
    }

    .portofolio #box1 #portf {
        font-weight: bolder;
        font-size: 14px;
    }

    .portofolio #box1 #work {
        font-size: 18px;
    }

    .portofolio #box1 #para {
        padding: 5px 5px;
        font-size: 12px;
        text-align: center;
        font-weight: bold;
    }
}

@media(max-width:376px) {

    .portofolio #box1 {
        height: 30vh;
    }

    .portofolio #box1 #work {
        font-size: 20px;
    }
}

.portofolio #box2 {
    height: 6vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portofolio #box2 ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    border: none;
    background-color: transparent;
    height: 6vh;
}

.portofolio #box2 ul li {
    padding: 0px 20px;
    font-weight: bolder;
    font-size: 16px;
}

.portofolio #box2 ul li a {
    text-decoration: none;
    color: black;
}

.portofolio #box2 ul li #all {
    color: blue;
}

.portofolio #box2 ul li a:hover {
    color: blue;
}

@media(max-width:1025px) {
    .portofolio #box2 {
        height: 8vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .portofolio #box2 ul {
        height: 5vh;
    }

    .portofolio #box2 ul li {
        padding: 0px 10px;
        font-size: 18px;
    }
}

@media(max-width:769px) {
    .portofolio #box2 {
        height: 8vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .portofolio #box2 ul {
        height: 5vh;
    }

    .portofolio #box2 ul li {
        padding: 0px 10px;
        font-size: 14px;
    }
}

@media(max-width:430px) {
    .portofolio #box2 {
        height: 6vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .portofolio #box2 ul {
        height: 5vh;
    }

    .portofolio #box2 ul li {
        padding: 0px 10px;
        font-size: 10px;
    }
}

@media(max-width:376px) {
    .portofolio #box2 {
        height: 6vh;
    }

    .portofolio #box2 ul li {
        padding: 0px 8px;
        font-size: 8px;
    }
}

.portofolio #box3 {
    margin: 0 auto;
    height: 45vh;
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: 0px 0px 5px black; */
}

.portofolio #box3 #web-development {
    height: 40vh;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: none;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.portofolio #box3 #web-development img {
    margin-top: 20px;
    transition: .5s;
    border: 1px solid white;
    border-radius: 7px;
}

.portofolio #box3 #web-development img:hover {
    box-shadow: 0px 0px 10px white;
    border-radius: 7px;
    transition: .5s;
    scale: 1.02;
}

.portofolio #box3 p {
    font-weight: bolder;
    font-size: 25px;
    color: white;
}

.portofolio #box3 video {
    margin-top: -20px;
    transition: .7s ease-in-out;
    border-radius: 10px;
}

.portofolio #box3 #cpp-development {
    height: 40vh;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: none;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.portofolio #box3 #cpp-development img {
    margin-top: 20px;
    transition: .5s;
    border: 1px solid white;
    border-radius: 7px;
}

.portofolio #box3 #cpp-development img:hover {
    box-shadow: 0px 0px 7px white;
    border-radius: 7px;
    transition: .5s;
    scale: 1.02;
}

.portofolio #box3 #java-development {
    height: 40vh;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: none;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.portofolio #box3 #java-development img {
    margin-top: 20px;
    transition: .5s;
    border: 1px solid white;
    border-radius: 7px;
}

.portofolio #box3 #java-development img:hover {
    box-shadow: 0px 0px 10px white;
    border-radius: 7px;
    transition: .5s;
    scale: 1.02;
}

@media(max-width:1025px) {
    .portofolio #box3 {
        height: 40vh;
        width: 98%;
    }

    .portofolio #box3 #web-development {
        height: 30vh;
        width: 30%;
    }

    .portofolio #box3 p {
        font-weight: bolder;
        font-size: 15px;
        color: white;
    }

    .portofolio #box3 img {
        width: 260px;
    }

    .portofolio #box3 #cpp-development {
        height: 30vh;
        width: 30%;
    }

    .portofolio #box3 #java-development {
        height: 30vh;
        width: 30%;
    }
}

@media(max-width:769px) {
    .portofolio {
        height: 130vh;
    }

    .portofolio #box3 {
        margin: 0 auto;
        height: 90vh;
        width: 90%;
        display: grid;
        grid-template-columns: auto auto;
    }

    .portofolio #box3 #web-development {
        margin: 0 auto;
        height: 35vh;
        width: 90%;
    }

    .portofolio #box3 p {
        font-weight: bolder;
        font-size: 15px;
        color: white;
    }

    .portofolio #box3 img {
        margin-top: 10px;
        margin-left: 15px;
        width: 90%;
    }

    .portofolio #box3 #cpp-development {
        margin: 0 auto;
        height: 35vh;
        width: 90%;
    }

    .portofolio #box3 #java-development {
        margin: 0 auto;
        height: 35vh;
        width: 90%;
    }
}

@media(max-width:430px) {
    .portofolio {
        height: 160vh;
        display: block;
    }

    .portofolio #box3 {
        height: 120vh;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .portofolio #box3 #web-development {
        height: 35vh;
        width: 85%;
    }

    .portofolio #box3 p {
        font-weight: bolder;
        font-size: 15px;
        color: white;
    }

    .portofolio #box3 img {
        width: 260px;
        margin: auto;
    }

    .portofolio #box3 #cpp-development {
        height: 35vh;
        width: 85%;
    }

    .portofolio #box3 #java-development {
        height: 35vh;
        width: 85%;
    }
}

@media(max-width:376px) {
    .portofolio {
        height: 170vh;
    }

    .portofolio #box3 {
        height: 120vh;
    }

    .portofolio #box3 img {
        margin-top: 10px;
        margin-left: 15px;
        width: 90%;
    }
}

.portofolio #box4 {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portofolio #box4 #btn {
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid white;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 15px 30px;
    transition: .4s;
}

.portofolio #box4 #btn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: .4s;
}

@media(max-width:769px) {
    .portofolio #box4 {
        margin: 0 auto;
        height: 8vh;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .portofolio #box4 #btn {
        margin: 0 auto;
        font-size: 12px;
        padding: 14px 20px;
        transition: .4s;
    }
}

@media(max-width:430px) {
    .portofolio #box4 {
        height: 8vh;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .portofolio #box4 #btn {
        font-size: 12px;
        padding: 14px 20px;
        transition: .4s;
    }
}